{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(titleOfPage, form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{ heading }}</h1>

        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9 ctc-add-to-a-list',
            rows: events
        }) }}

        <form action="{{ routes.controllers.events.AddEventController.onSubmit(mrn, mode).url }}" method="post">
          {{ csrf() | safe }}

          <div class="govuk-form-group{% if form.errors.length > 0 %} govuk-form-group--error{% endif %}">


          {% if allowMoreEvents %}
            <h2 class="govuk-heading-xl">{{ messages('addEvent.radio.label') }}</h2>

            <div class="govuk-hint">
              <p>{{ messages("addEvent.hintText.tad") }}</p>
              <p>{{ messages("addEvent.hintText.tell_us") }}</p>
              <ul class="govuk-list govuk-list--bullet govuk-hint">
                <li>{{ messages("addEvent.hintText.accident") }}</li>
                <li>{{ messages("addEvent.hintText.goods.unloaded") }} </li>
                <li>{{ messages("addEvent.hintText.different.vehicle") }}</li>
                <li>{{ messages("addEvent.hintText.type.of.transport") }}</li>
                <li>{{ messages("addEvent.hintText.planned.route") }} </li>
              </ul>
            </div>

            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: 'value',
              items: radios,
              errorMessage: form.value.error,
              fieldset: {
                legend: {
                  text: messages('addEvent.radio.label'),
                  isPageHeading: false,
                  classes: "govuk-visually-hidden"
                }
              }
            }) }}
          {% else %}
            <p class="govuk-body" data-testId="maxLimit"> {{ messages('addEvent.maxLimit.label') }} </p>
          {% endif %}
          </div>

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
