{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/title.njk" import title %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ title(messages("arrivalRejection.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("arrivalRejection.heading") }}
        </h1>

        {% for error in errors %}

          <dl class="govuk-summary-list" data-testid="error-row">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ messages("arrivalRejection.errorCode") }}
              </dt>
              <dd class="govuk-summary-list__value" data-testid="error-row-error-type">
                {{ error.errorType }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ messages("arrivalRejection.pointer") }}
              </dt>
              <dd class="govuk-summary-list__value" data-testid="error-row-error-pointer">
                {{ error.pointer.value }}
              </dd>
            </div>
          </dl>

        {% endfor %}

        <p class="govuk-body">
            {{messages("arrivalRejection.review")}} <a class="govuk-link" href={{createArrivalUrl}} >{{ messages("arrivalRejection.sendNewArrival") }}</a>.
        </p>

        <p class="govuk-body">
            {{ messages("arrivalRejection.youCan")}} <a rel="noreferrer noopener" class="govuk-link" href={{contactUrl}} target="_blank">{{ messages("arrivalRejection.contact") }}</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}