{% extends "includes/layout.njk" %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("arrivalComplete.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {{ messages("arrivalComplete.heading") }}
          </h1>

          <div class="govuk-panel__body">
           {{ messages("arrivalComplete.yourReferenceNumber")}}
           <strong>{{mrn}}</strong>
          </div>
        </div>

         <h2 class="govuk-heading-m"> {{ messages("arrivalComplete.subHeading") }}</h2>

         <p class="govuk-body"> <a id = "check-the-status-of-arrival-notifications" href={{ manageTransitMovementsUrl }} class="govuk-link"> {{messages("arrivalComplete.checkStatus")}}</a>  {{ paragraph }} </p>

         <p class="govuk-body"> {{ contactUs }}</p>
         <p class="govuk-body"> <a href={{ movementReferencePageUrl }} class="govuk-link"> {{ messages("arrivalComplete.makeAnother.arrivalNotification") }} </a> </p>

     </div>
    </div>
  </div>

{% endblock %}
